body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
}

.header {
    background: #1f2937;
    color: aliceblue;
    padding : 10px 150px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
}

.header-paragraph, .links {
    font-size: 18px;
    color: #e5e7eb;
}

.logo-img {
    width: 50px;
    height: 50px;
}

img {
    height: 200px;
    width: 250px;
}

button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    border-radius: 10%;
}
.header-content {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.header-text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

.random {
    padding : 10px 150px 40px 150px;
    background-color: beige;
}
.random-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.random-container {
    display: flex;
    justify-content: space-around;
}

.random-col {
    text-align: center;
    justify-content: center;
}

.random-text {
    margin: 7px;
}
.quote {
    padding: 40px 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-container {
    margin: 20px;
}

.quote-text {
    font-size: 30px;
    font-style: italic;
    text-align: center;

}
.quote-author {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
.call {
    padding: 40px 150px;
    background-color: #5d909eb7;
    
}

.call-box {
    display: flex;
    justify-content: space-around;
    background-color: #068db3b7;
    padding: 20px;
}

.footer {
    text-align: center;
    background: #1f2937;
    color: aliceblue;
    padding : 10px 150px;
}